.countdown {
  text-align: center;

  span {
    position: relative;
    display: inline-block;
    font-size: 30px;
    color: #fff;
    display: inline-block;
    padding: 5px;
    background: #4d9ef5;
    margin-right: 10px;
    width: 48px;
    text-align: center;
    border-radius: 4px;

    &:last-child {
      &::after {
        display: none;
      }
    }

    &:after {
      color: #333;
      position: absolute;
      top: 0;
      right: -10px;
      content: ':';
    }
  }

  &-message {
    font-size: 28px;
    font-weight: 600;
    color: rgb(203, 62, 62);
    margin: 0;
  }
}

.timeout {
  &-icon {
    width: 250px;
    height: 250px;
  }

  &-message {
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;

    .note {
      color: rgb(181, 62, 62);
      font-weight: 600;
    }
  }

  &-modal {
    .modal-content {
      height: 80vh;
      width: 80vw;
      background: #333;

      --border-width: 5px;

      position: relative;
      display: flex;
      border-radius: var(--border-width);

      &::after {
        position: absolute;
        content: '';
        top: calc(-1 * var(--border-width));
        left: calc(-1 * var(--border-width));
        z-index: -1;
        width: calc(100% + var(--border-width) * 2);
        height: calc(100% + var(--border-width) * 2);
        background: linear-gradient(
          60deg,
          hsl(224, 85%, 66%),
          hsl(269, 85%, 66%),
          hsl(314, 85%, 66%),
          hsl(359, 85%, 66%),
          hsl(44, 85%, 66%),
          hsl(89, 85%, 66%),
          hsl(134, 85%, 66%),
          hsl(179, 85%, 66%)
        );
        background-size: 300% 300%;
        background-position: 0 50%;
        border-radius: calc(2 * var(--border-width));
        animation: moveGradient 4s alternate infinite;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px 40px;
      color: #fff;
    }
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
