.menu {
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;

    .icon-loading {
      margin: 0 auto;
    }
  }

  &-item {
    position: relative;
    width: 32%;
    margin-bottom: 10px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    padding: 20px 20px 10px 20px;

    &.is-disabled {
      &::after {
        opacity: 0.4;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #797474;
        z-index: 100;
        content: '';
      }

      &:hover {
        .icon-add {
          display: none !important;
        }
      }
    }

    &:hover {
      .icon-add {
        display: block !important;
      }

      .img-dish {
        transform: scale(1.5);
        opacity: 0.5;
      }
    }

    .image {
      overflow: hidden;
      height: calc(100% - 50px);
      position: relative;

      .img-dish {
        width: 100%;
        height: 100%;
        transition: transform ease 0.5s;
      }

      .icon-add {
        display: none;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }
    }

    .desc {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px;
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .name {
      font-weight: 600;
      font-size: 16px;
    }

    .price {
      font-style: italic;
      color: #0e78ff;
    }

    .quantity {
      input {
        width: 50px;
        border: 1px solid #333;
        text-align: center;
        font-size: 16px;
      }
    }
  }
}
