@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: 'Comic Neue', cursive;
}

.page {
  margin: 50px 0 20px;
}

.Toastify__toast {
  border-radius: 5px;
  font-size: 20px;
  padding: 20px;
}
