.chart {
  // &-wrapper {
  //   height: 40%;
  // }
  &-container {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 40%;
    background-color: $COLOR_WHITE;
  }

  &-title {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 100%;

    .blue-title {
      color: $COLOR_LIGHT_BLUE;
      font-size: 18px;
      font-weight: 500;
    }

    .orange-title {
      color: $COLOR_ORANGE;
      font-size: 18px;
      margin-left: 10px;
    }
  }
}

.chartjs-render-monitor {
  position: absolute;
  top: 0;
  left: 0;
}
