.chart {
  &-container {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 40%;
    background-color: $COLOR_WHITE;

    .time-text {
      display: inline-block;
      position: sticky;
      color: $COLOR_BLACK;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      &:before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 8px 8px 8px;
        border-color: transparent transparent $COLOR_WHITE transparent;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 20px;
        left: 50%;
        width: 1px;
        height: 150px;
        background: $COLOR_BLACK_FADED;
      }
    }

    .img-sun {
      display: none;
    }

    .icon-moon {
      position: fixed;
      bottom: 25%;
      left: 50%;
      transform: translateX(-50%);
      width: 25px;
      height: 25px;
      background-size: contain;
    }

    .icon-moon {
      background-image: url($ICON_MOON);
    }

    .day-text {
      display: inline-block;
      position: sticky;
      bottom: calc(100% - 60px);
      left: 50%;
      font-size: 24px;
      color: $COLOR_BLACK;
      font-weight: 700;
      transform: translateX(-50%);
    }
  }

  &-title {
    position: sticky;
    bottom: calc(100% - 25px);
    left: 15px;
    width: 100%;

    .blue-title {
      color: $COLOR_LIGHT_BLUE;
      font-size: 18px;
      font-weight: 500;
    }

    .orange-title {
      color: $COLOR_ORANGE;
      font-size: 18px;
      margin-left: 10px;
    }
  }
}
