.cart {
  &-wrapper {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    z-index: 1000;
  }

  &-icon {
    cursor: pointer;

    img {
      width: 60px;
    }
  }

  &-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: 1000;
  }

  &-qty {
    position: absolute;
    top: -10px;
    right: 30px;
    font-weight: 600;
    font-size: 18px;
    color: red;
  }

  &-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    min-width: 300px;
    padding: 10px;
    z-index: 100;
    border-radius: 8px;

    &.show {
      display: flex;
    }

    .btn-order {
      background: #51decc;
      box-shadow: none;
      border: 1px solid #12b18c;
      width: 80px;
      padding: 5px 0;
      color: #333;
      font-weight: 600;
      border-radius: 4px;
      outline: none;
      margin: 10px auto 0;
    }
  }

  &-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
    padding: 5px 0;
    font-size: 16px;

    &:last-child {
      border: 0;
    }

    .name {
      color: #0e78ff;
    }

    .qty {
      color: red;
    }

    .desc {
      display: flex;
      width: 50px;
      align-items: normal;
      justify-content: space-around;
    }

    .remove {
      cursor: pointer;
      display: flex;
      align-items: center;

      img {
        width: 12px;
        height: 12px;
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
