body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  color: $COLOR_WHITE;
}

ul {
  padding: 0;

  li {
    list-style: none;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
